@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background: #fbfbf4;
  color: #363638;
}

a {
  color: #14969b;
  text-decoration: none;
}

a:visited {
  color: #118388;
}

a:hover {
  text-decoration: none;
  color: #118388;
}

h1, h2, h3, h4 {
  color: #14969b;
  font-family: "Crimson Text", serif;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

/* Popup */
#popup .overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#popup .popup-content {
  position: fixed;
  width: 500px;
  height: 260px;
  z-index: 15;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin: auto;
  background: #fbfbf4;
  box-shadow: 1px 2px 5px 0 rgba(30, 36, 69, 0.2);
}
#popup .popup-content .header {
  background: #14969b;
  color: #fbfbf4;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  padding-left: 8px;
  position: relative;
  text-transform: uppercase;
}
#popup .popup-content .header .close {
  float: right;
  width: 28px;
  height: 28px;
  display: block;
  cursor: pointer;
}
#popup .popup-content .popup-main-content {
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 40px);
}
#popup .popup-content .popup-main-content .message {
  height: calc(100% - 45px);
  overflow: auto;
}
#popup .popup-content .popup-main-content .buttons {
  text-align: center;
}

/* Alert */
.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 7px;
}
.alert.alert-error {
  color: #691911;
  background-color: #f4d6d2;
  border-color: #f0c5c1;
}
.alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* Header */
#main-header {
  min-height: 100px;
  background-color: #14969b;
  color: #ffdc4d;
  font-size: 3.5rem;
  font-family: "Fredericka the Great", cursive;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 3px;
}
@media (max-width: 540px) {
  #main-header {
    font-size: 3rem;
  }
}
#main-header a {
  color: #ffdc4d;
}
#main-header .header-actions {
  font-size: 2rem;
  text-align: center;
  flex: 3;
  justify-content: center;
}
#main-header .header-actions a {
  padding: 0.5rem 0.5rem;
  display: inline-block;
  line-height: 3rem;
  border: none;
}
#main-header .header-actions a::before, #main-header .header-actions a::after {
  backface-visibility: hidden;
  opacity: 0;
  border: 1px solid #ffd424;
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 480ms ease;
  width: 0;
  content: " ";
}
#main-header .header-actions a:hover::before, #main-header .header-actions a:hover::after {
  border-color: #ffd424;
  transition: width 550ms ease;
  width: 50%;
  opacity: 0.9;
}
#main-header .header-actions a:hover::before {
  width: 100%;
}
#main-header .header-actions a:hover {
  transition: all 480ms ease-in-out;
  color: #ffd424;
}

@media (max-width: 540px) {
  .tool-page #main-header {
    font-size: 2.5rem;
  }
}

/* Menu */
.horizontal-menu {
  display: flex;
}

.horizontal-menu .menu-element {
  padding: 10px 20px;
  color: #fbfbf4;
  transition: 0.2s;
}

/* Header menu */
#header-menu {
  background-color: #14969b;
  box-sizing: border-box;
  padding-left: 2%;
  margin-bottom: 2px;
}

#header-menu .menu-element a {
  color: #fbfbf4;
}

#header-menu .menu-element.selected, #header-menu .menu-element:hover {
  background-color: #fbfbf4;
  color: #14969b;
}

#header-menu .menu-element.selected a, #header-menu .menu-element:hover a {
  color: #14969b;
}

/* Contenu */
#page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media (max-width: 950px) {
  body:not(.wordwar-launch) #page-content {
    flex-direction: column;
  }
}
#main-content {
  flex: 3;
}

#other-content {
  background-color: #14969b;
  flex: 1;
  color: #fbfbf4;
  padding: 10px;
}
#other-content .title {
  color: #ffdc4d;
  font-family: "Crimson Text", serif;
  font-size: 1.5rem;
}

footer {
  text-align: center;
  background-color: #14969b;
  font-size: 90%;
  margin-top: 3px;
  margin-top: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2%;
}
footer a {
  color: #fbfbf4;
  padding: 0 10px;
}
footer a:not(:last-of-type) {
  border-right: 1px solid #fbfbf4;
  padding-right: 13px;
}

.round-img-container img {
  width: 150px;
  border-radius: 50%;
}
.round-img-container .legend {
  text-align: center;
}

/* Form */
.rich-editor {
  height: 250px;
}

.form-element {
  padding: 5px;
}

.form-element label {
  display: block;
  font-size: 90%;
}

.form-element span.required {
  color: #94133d;
  font-weight: bold;
}

textarea {
  min-width: 400px;
  width: 40%;
  height: 150px;
  border: 1px solid #ccc;
  color: #58585a;
}

label + input, label + textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0.5rem;
}

input, textarea {
  border: 1px solid #ccc;
  color: #58585a;
  border-radius: 5px;
  padding: 5px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
}

.input-info {
  font-size: 80%;
}

.button {
  background: #14969b;
  border: none;
  color: #fbfbf4;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #14969b;
  transition: all 480ms ease;
}
.button:hover {
  background-color: #083f41;
}

.button-inverse {
  background: #fbfbf4;
  color: #14969b;
}

.button-inverse:hover {
  color: #fbfbf4;
  background: #14969b;
  border: 1px solid #fbfbf4;
}

.button-img {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  overflow: hidden;
  border: none;
}

img.icon {
  width: 20px;
}

/* Frontpage */
.site-description {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: #ffdc4d;
  font-family: "Crimson Text", serif;
}

#frontpage-list {
  padding: 1rem 2.5rem;
}

/* Liste article */
.article-block {
  padding-bottom: 10px;
}
.article-block:not(:last-of-type) {
  border-bottom: 1px solid #14969b;
}
.article-block .article-title {
  margin-top: 10px;
  margin-bottom: 0;
  transition: 0.3s;
}
.article-block .article-title .icon {
  height: 30px;
  display: inline-block;
  width: auto;
  vertical-align: sub;
}
.article-block .article-date {
  font-size: 90%;
  margin-bottom: 15px;
  font-style: italic;
}
.article-block .article-right-link {
  text-align: right;
}
.article-block .article-info {
  text-align: right;
  font-style: italic;
}

.article-list .separator:last-of-type {
  display: none;
}

.separator {
  text-align: center;
  font-size: 1.5rem;
}

#other-content {
  padding: 10px 25px;
}
#other-content a {
  color: #fbfbf4;
}
#other-content .article-list .article-block .article-title a {
  color: #ffdc4d;
}
#other-content .article-list .article-block .article-date {
  display: none;
}
#other-content .article-list .article-block .article-right-link {
  display: none;
}
#other-content .article-list .article-block .article-description {
  font-size: 90%;
  margin-top: 5px;
}
#other-content .article-list .article-block .article-description p {
  margin: 0;
}
#other-content h2, #other-content h3, #other-content h4 {
  color: #fbfbf4;
  margin: 0;
}
#other-content > h3 {
  text-align: center;
}
#other-content .socials {
  text-align: center;
}
#other-content .socials .social {
  display: inline-block;
}
#other-content .socials .social img {
  width: 30px;
  height: auto;
  padding: 5px;
}
#other-content .newsletter, #other-content .socials, #other-content .search-container {
  border-top: 1px solid #fbfbf4;
  margin-top: 5px;
  padding-top: 5px;
  text-align: center;
}
#other-content .newsletter input[type=text], #other-content .search-container input[type=text] {
  height: 30px;
  text-align: center;
  width: 68%;
  margin-bottom: 10px;
}
#other-content .search-container h3 {
  margin-bottom: 10px;
}

#other-content a:visited, #other-content a:hover, footer a:visited, footer a:hover {
  color: #e5fbfc;
}

/* Article */
.article-content-container {
  padding: 1rem 2.5rem;
}
.article-content-container .article-title {
  text-align: center;
}

/* Commentaire */
.comments-container {
  background: rgba(19, 173, 179, 0.1);
  padding: 1rem 2.5rem;
}
.comments-container .parent-comment-info {
  padding-bottom: 1rem;
}
.comments-container .parent-comment-info .remove-comment-parent {
  cursor: pointer;
  padding-right: 0.5rem;
  font-weight: bold;
}
.comments-container .comment-container {
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
}
.comments-container .comment-container .comment-user {
  width: 10rem;
  vertical-align: top;
  flex: none;
  padding-top: 5px;
  margin-right: 1rem;
}
.comments-container .comment-container .comment-user .comment-date {
  font-size: 90%;
  color: #9c9c9c;
}
.comments-container .comment-container .comment-actions {
  text-align: right;
  padding-top: 0.5rem;
}
.comments-container .comment-container .comment-actions .comment-response {
  color: #14969b;
  cursor: pointer;
}
.comments-container .comment-container .comment-content-container {
  background: #d9f1ec;
  position: relative;
  border-left: 1px solid #14969b;
  padding: 5px 1.4rem;
  flex-grow: 1;
  border-radius: 5px;
}
.comments-container .comment-container .comment-content-container::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: -1rem;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 1rem solid #14969b;
}
.comments-container .comment-container .comment-content-container::after {
  content: "";
  position: absolute;
  top: calc(0.5rem + 1px);
  left: calc(-1rem + 2px);
  border-top: calc(0.5rem - 1px) solid transparent;
  border-bottom: calc(0.5rem - 1px) solid transparent;
  border-right: calc(1rem - 2px) solid #d9f1ec;
}
.comments-container .comment-container.offset-1 {
  margin-left: 1%;
}
.comments-container .comment-container.offset-2 {
  margin-left: 2%;
}
.comments-container .comment-container.offset-3 {
  margin-left: 3%;
}
.comments-container .comment-container.offset-4 {
  margin-left: 4%;
}
.comments-container .comment-container.offset-5 {
  margin-left: 5%;
}

/* Page */
.standard-page-container {
  padding: 1rem 2.5rem;
}

/* A propos */
.team {
  text-align: center;
}
.team .round-img-container {
  display: inline-block;
  padding: 0 3rem;
}

/* Special pages */
#contact-page-container, #login-content, #global-search-container, .error-page {
  padding: 1rem 2.5rem;
}

/* Admin */
#admin-main-content {
  padding: 1rem 2.5rem;
  width: 100%;
}

.admin-comment-container, .article-container {
  margin-bottom: 10px;
  border-bottom: 1px solid #14969b;
  padding-bottom: 10px;
}

.inline-title, .admin-action {
  display: inline-block;
}

.admin-delete {
  font-family: "Fredericka the Great", cursive;
  font-size: 1.3rem;
  cursor: pointer;
  color: #14969b;
}

/*********** Word wars Selection ***********/
.select-wordwars-container {
  padding: 1rem 2.5rem;
}
.select-wordwars-container #ww-account {
  text-align: center;
}
.select-wordwars-container #ww-account label {
  display: block;
}
.select-wordwars-container .create-wordwars h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.select-wordwars-container .create-wordwars .shortcuts {
  text-align: center;
  margin-bottom: 2rem;
}
.select-wordwars-container .create-wordwars .shortcuts .shortcut {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.select-wordwars-container .create-wordwars .add-wordwars-form {
  text-align: center;
}

.wordwars-list {
  background: rgba(19, 173, 179, 0.1);
  padding: 1rem 2.5rem;
}

/*********** Word wars Session ***********/
.wordwars-container.launch-wordwar {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: ". . top" "main main main" "bottom bottom bottom";
}
@media (max-width: 1050px) {
  .wordwars-container.launch-wordwar {
    grid-template-areas: "top top top" "main main main" "bottom bottom bottom";
  }
}
.wordwars-container.launch-wordwar .top-action {
  grid-area: top;
  margin-top: 1rem;
}
@media (max-width: 1050px) {
  .wordwars-container.launch-wordwar .top-action {
    text-align: center;
  }
}
.wordwars-container.launch-wordwar .top-action #ww-account {
  text-align: center;
}
.wordwars-container.launch-wordwar .top-action #ww-account label {
  display: block;
}
.wordwars-container.launch-wordwar .top-action #ambiant {
  text-align: right;
}
@media (max-width: 1050px) {
  .wordwars-container.launch-wordwar .top-action #ambiant {
    text-align: center;
  }
}
.wordwars-container.launch-wordwar .top-action #ambiant .ambiant {
  display: inline-block;
  text-align: center;
}
.wordwars-container.launch-wordwar .top-action #ambiant .ambiant button {
  margin-bottom: 0.5rem;
}
.wordwars-container.launch-wordwar .top-action #ambiant #audio-ronron {
  visibility: hidden;
  height: 0;
}
.wordwars-container.launch-wordwar .center-content {
  grid-area: main;
  text-align: center;
  min-height: 470px;
}
.wordwars-container.launch-wordwar .center-content #ww-help {
  background: rgba(19, 173, 179, 0.1);
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
  display: inline-block;
}
.wordwars-container.launch-wordwar .center-content #ww-help .ww-link {
  cursor: pointer;
  font-weight: bold;
}
.wordwars-container.launch-wordwar .center-content #ww-begin-countdown {
  display: none;
  font-weight: 100;
  font-size: 65px;
  color: #14969b;
  text-align: center;
}
.wordwars-container.launch-wordwar .center-content #ww-circular-countdown {
  display: none;
  padding-bottom: 4rem;
}
.wordwars-container.launch-wordwar .center-content #ww-end:not(.displayed) {
  display: none;
}
.wordwars-container.launch-wordwar .bottom-action {
  grid-area: bottom;
}
.wordwars-container.launch-wordwar .bottom-action #ww-participants {
  background: rgba(19, 173, 179, 0.1);
  padding: 0.5rem 2rem;
}
@media (max-width: 1050px) {
  .wordwars-container.launch-wordwar .bottom-action .buttons {
    display: block;
    text-align: center;
  }
}
.wordwars-container.launch-wordwar .bottom-action .button-ww-return {
  margin: 1rem 2.5rem;
}

/* Countdown */
.circular-countdown-container {
  position: relative;
  top: 1rem;
  width: 19rem;
  margin: 0 auto;
  display: none;
}
@media (max-width: 1050px) {
  .circular-countdown-container .circle svg {
    width: 13rem;
  }
}
.circular-countdown-container .controlls {
  position: absolute;
  left: 5rem;
  top: 9rem;
  text-align: center;
}
@media (max-width: 1050px) {
  .circular-countdown-container .controlls {
    left: 6rem;
    top: 7rem;
  }
}
.circular-countdown-container .display-remain-time {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 4rem;
  color: #14969b;
}
@media (max-width: 1050px) {
  .circular-countdown-container .display-remain-time {
    font-size: 3rem;
  }
}
.circular-countdown-container .e-c-base {
  fill: none;
  stroke: #B6B6B6;
  stroke-width: 4px;
}
.circular-countdown-container .e-c-progress {
  fill: none;
  stroke: #14969b;
  stroke-width: 6px;
  transition: stroke-dashoffset 0.7s;
}
.circular-countdown-container .e-c-pointer {
  fill: #FFF;
  stroke: #14969b;
  stroke-width: 2px;
}
.circular-countdown-container #e-pointer {
  transition: transform 0.7s;
}

/*# sourceMappingURL=styles.css.map */
