@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

//$maincolor: #5D001E;
//$lightmaincolor: #92173f;
//$inversecolor: #fbfbf4;
//$otherbgcolor: #f6e9e5;
//$lightgrey: #9c9c9c;

$maincolor: #14969b;
$lightmaincolor: #118388;
$inversecolor: #fbfbf4;
$complementarycolor: #ffdc4d;
$otherbgcolor: rgb(19,173,179, 0.1);
$otherbgcolordarker : #d9f1ec;
$lightgrey: #9c9c9c;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: $inversecolor;
  color: #363638;
}

a {
  color: $maincolor;
  text-decoration: none;
}

a:visited {
  color: $lightmaincolor;
}

a:hover {
  text-decoration: none;
  color: $lightmaincolor;
}

h1, h2, h3, h4 {
  color: $maincolor;
  font-family: 'Crimson Text', serif;
  font-weight: normal;
}

h2 {
  font-size: 1.8rem;
  margin: 0;
}

/* Popup */
#popup {
  .overlay {
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  .popup-content {
    position: fixed;
    width: 500px;
    height: 260px;
    z-index: 15;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin: auto;
    background: $inversecolor;
    box-shadow: 1px 2px 5px 0 rgba(30, 36, 69, .2);

    .header {
      background: $maincolor;
      color: $inversecolor;
      height: 44px;
      line-height: 44px;
      font-size: 18px;
      padding-left: 8px;
      position: relative;
      text-transform: uppercase;

      .close {
        float: right;
        width: 28px;
        height: 28px;
        display: block;
        cursor: pointer;
      }
    }

    .popup-main-content {
      box-sizing: border-box;
      padding: 20px;
      height: calc(100% - 40px);

      .message {
        height: calc(100% - 45px);
        overflow: auto;
      }

      .buttons {
        text-align: center;
      }
    }

  }
}

/* Alert */
.alert {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 7px;

  &.alert-error {
    color: #691911;
    background-color: #f4d6d2;
    border-color: #f0c5c1;
  }

  &.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}

/* Header */
#main-header {
  min-height: 100px;
  background-color: $maincolor;
  color: $complementarycolor;
  font-size: 3.5rem;
  font-family: 'Fredericka the Great', cursive;
  display: block;
  text-align: center;
  padding: 0.5rem 0;
  margin-bottom: 3px;

  @media (max-width: 540px) {
    font-size: 3rem;
  }

  a {
    color: $complementarycolor;
  }

  .header-actions{
    font-size: 2rem;
    text-align: center;
    flex: 3;
    justify-content: center;

    a{
      padding: 0.5rem 0.5rem;
      display: inline-block;
      line-height: 3rem;
      border: none;

      &::before, &::after {
        backface-visibility: hidden;
        opacity: 0;
        border: 1px solid darken($complementarycolor, 8%);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 480ms ease;
        width: 0;
        content: " ";
      }

      &:hover::before, &:hover::after {
        border-color: darken($complementarycolor, 8%);
        transition: width 550ms ease;
        width: 50%;
        opacity: 0.9;
      }

      &:hover::before {
        width: 100%;
      }

      &:hover{
        transition: all 480ms ease-in-out;
        color: darken($complementarycolor, 8%);
      }

    }
  }

}

.tool-page #main-header {
  @media (max-width: 540px) {
    font-size: 2.5rem;
  }
}

/* Menu */
.horizontal-menu {
  display: flex;
}

.horizontal-menu .menu-element {
  padding: 10px 20px;
  color: $inversecolor;
  transition: 0.2s;
}

/* Header menu */
#header-menu {
  background-color: $maincolor;
  box-sizing: border-box;
  padding-left: 2%;
  margin-bottom: 2px;
}

#header-menu .menu-element a {
  color: $inversecolor;
}

#header-menu .menu-element.selected, #header-menu .menu-element:hover {
  background-color: $inversecolor;
  color: $maincolor;
}

#header-menu .menu-element.selected a, #header-menu .menu-element:hover a {
  color: $maincolor;
}


/* Contenu */

#page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

@media (max-width: 950px) {
  body:not(.wordwar-launch) #page-content {
    flex-direction: column;
  }
}

#main-content {
  flex: 3;
}

#other-content {
  background-color: $maincolor;
  flex: 1;
  color: $inversecolor;
  padding: 10px;

  .title{
    color: $complementarycolor;
    font-family: "Crimson Text", serif;
    font-size: 1.5rem;
  }
}

footer {
  text-align: center;
  background-color: $maincolor;
  font-size: 90%;
  margin-top: 3px;
  margin-top: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2%;

  a {
    color: $inversecolor;
    padding: 0 10px;

    &:not(:last-of-type) {
      border-right: 1px solid $inversecolor;
      padding-right: 13px;
    }
  }
}

.round-img-container {
  img {
    width: 150px;
    border-radius: 50%;
  }

  .legend {
    text-align: center;
  }
}

/* Form */
.rich-editor {
  height: 250px;
}

.form-element {
  padding: 5px;
}

.form-element label {
  display: block;
  font-size: 90%;
}

.form-element span.required {
  color: #94133d;
  font-weight: bold;
}

textarea {
  min-width: 400px;
  width: 40%;
  height: 150px;
  border: 1px solid #ccc;
  color: #58585a;
}

label + input, label + textarea {
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0.5rem;
}

input, textarea {
  border: 1px solid #ccc;
  color: #58585a;
  border-radius: 5px;
  padding: 5px;
}

select {
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
}

.input-info {
  font-size: 80%;
}

.button {
  background: $maincolor;
  border: none;
  color: $inversecolor;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid $maincolor;
  transition: all 480ms ease;
  &:hover{
    background-color: darken($maincolor, 20%);
  }
}

.button-inverse {
  background: $inversecolor;
  color: $maincolor;
}

.button-inverse:hover {
  color: $inversecolor;
  background: $maincolor;
  border: 1px solid $inversecolor;
}

.button-img {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  overflow: hidden;
  border: none;
}

img.icon {
  width: 20px;
}

/* Frontpage */
.site-description {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.5rem;
  color: $complementarycolor;
  font-family: 'Crimson Text', serif;

}

#frontpage-list {
  padding: 1rem 2.5rem;
}

/* Liste article */
.article-block {
  padding-bottom: 10px;

  &:not(:last-of-type) {
    border-bottom: 1px solid $maincolor;
  }

  .article-title {
    margin-top: 10px;
    margin-bottom: 0;
    transition: 0.3s;
    .icon{
      height: 30px;
      display: inline-block;
      width: auto;
      vertical-align: sub;
    }
  }

  .article-date {
    font-size: 90%;
    margin-bottom: 15px;
    font-style: italic;
  }

  .article-right-link {
    text-align: right;
  }

  .article-info {
    text-align: right;
    font-style: italic;
  }
}

.article-list {
  .separator:last-of-type {
    display: none;
  }
}

.separator {
  text-align: center;
  font-size: 1.5rem;
}


#other-content {
  padding: 10px 25px;

  a {
    color: $inversecolor;
  }

  .article-list {
    .article-block {

      .article-title a{
        color: $complementarycolor;
      }

      .article-date {
        display: none;
      }

      .article-right-link{
        display: none;
      }

      .article-description {
        font-size: 90%;
        margin-top: 5px;

        p {
          margin: 0;
        }
      }
    }
  }


  h2, h3, h4 {
    color: $inversecolor;
    margin: 0;
  }

  & > h3 {
    text-align: center;
  }

  .socials {
    text-align: center;

    .social {
      display: inline-block;

      img {
        width: 30px;
        height: auto;
        padding: 5px;
      }

    }
  }

  .newsletter, .socials, .search-container {
    border-top: 1px solid $inversecolor;
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
  }

  .newsletter, .search-container {
    input[type="text"] {
      height: 30px;
      text-align: center;
      width: 68%;
      margin-bottom: 10px;
    }
  }

  .search-container {
    h3 {
      margin-bottom: 10px;
    }
  }
}

#other-content, footer {
  a:visited, a:hover {
    color: lighten($maincolor, 60%);
  }
}

/* Article */
.article-content-container {
  padding: 1rem 2.5rem;

  .article-title{
    text-align: center;
  }
}

/* Commentaire */
$arrowwidth: 1rem;
$arrowheight: 1rem;
$halfarrowheight: $arrowheight/2;
$arrowoffset: 0.5rem;

.comments-container {
  background: $otherbgcolor;
  padding: 1rem 2.5rem;


  .parent-comment-info {
    padding-bottom: 1rem;

    .remove-comment-parent {
      cursor: pointer;
      padding-right: 0.5rem;
      font-weight: bold;
    }
  }

  .comment-container {
    margin-top: 10px;
    padding-bottom: 10px;
    display: flex;

    .comment-user {
      width: 10rem;
      vertical-align: top;
      flex: none;
      padding-top: 5px;
      margin-right: 1rem;

      .comment-date {
        font-size: 90%;
        color: $lightgrey;
      }
    }

    .comment-actions {
      text-align: right;
      padding-top: 0.5rem;

      .comment-response {
        color: $maincolor;
        cursor: pointer;
      }
    }

    .comment-content-container {
      background: $otherbgcolordarker;
      position: relative;
      border-left: 1px solid $maincolor;
      padding: 5px 1.4rem;
      flex-grow: 1;
      border-radius: 5px;

      &::before {
        content: "";
        position: absolute;
        top: $arrowoffset;
        left: -$arrowwidth;
        border-top: $halfarrowheight solid transparent;
        border-bottom: $halfarrowheight solid transparent;
        border-right: $arrowwidth solid $maincolor;
      }

      &::after {
        content: "";
        position: absolute;
        top: calc(#{$arrowoffset} + 1px);
        left: calc(-#{$arrowwidth} + 2px);
        border-top: calc(#{$halfarrowheight} - 1px) solid transparent;
        border-bottom: calc(#{$halfarrowheight} - 1px) solid transparent;
        border-right: calc(#{$arrowwidth} - 2px) solid $otherbgcolordarker;
      }
    }

    &.offset-1 {
      margin-left: 1%;
    }

    &.offset-2 {
      margin-left: 2%;
    }

    &.offset-3 {
      margin-left: 3%;
    }

    &.offset-4 {
      margin-left: 4%;
    }

    &.offset-5 {
      margin-left: 5%;
    }
  }

}

/* Page */
.standard-page-container {
  padding: 1rem 2.5rem;
}

/* A propos */
.team {
  text-align: center;

  .round-img-container {
    display: inline-block;
    padding: 0 3rem;
  }
}

/* Special pages */
#contact-page-container, #login-content, #global-search-container, .error-page {
  padding: 1rem 2.5rem;
}

/* Admin */
#admin-main-content {
  padding: 1rem 2.5rem;
  width: 100%;
}

.admin-comment-container, .article-container {
  margin-bottom: 10px;
  border-bottom: 1px solid $maincolor;
  padding-bottom: 10px;
}

.inline-title, .admin-action {
  display: inline-block;
}

.admin-delete {
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.3rem;
  cursor: pointer;
  color: $maincolor;
}

@import "assets/styles/wordwars";