/* Error: Undefined variable.
 *    ,
 * 34 |   background: $otherbgcolor;
 *    |               ^^^^^^^^^^^^^
 *    '
 *   wordwars.scss 34:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 34 \2502    background: $otherbgcolor;\a    \2502                ^^^^^^^^^^^^^\a    \2575 \a   wordwars.scss 34:15  root stylesheet";
}
