/*********** Word wars Selection ***********/
.select-wordwars-container {
  padding: 1rem 2.5rem;
  #ww-account {
    text-align: center;

    label {
      display: block;
    }
  }

  .create-wordwars {
    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .shortcuts {
      text-align: center;
      margin-bottom: 2rem;
      .shortcut{
        display: inline-block;
        margin-bottom: 0.5rem;
      }
    }

    .add-wordwars-form {
      text-align: center;
    }
  }
}

.wordwars-list {
  background: $otherbgcolor;
  padding: 1rem 2.5rem;
}

/*********** Word wars Session ***********/

.wordwars-container.launch-wordwar {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: ". . top" "main main main" "bottom bottom bottom";
  @media (max-width: 1050px) {
    grid-template-areas: "top top top" "main main main" "bottom bottom bottom";
  }

  .top-action {
    grid-area: top;
    margin-top: 1rem;

    @media (max-width: 1050px) {
      text-align: center;
    }

    // Nom
    #ww-account {
      text-align: center;

      label {
        display: block;
      }
    }

    // Ambiance
    #ambiant {
      text-align: right;

      @media (max-width: 1050px) {
        text-align: center;
      }

      .ambiant {
        display: inline-block;
        text-align: center;

        button {
          margin-bottom: 0.5rem;
        }
      }

      #audio-ronron {
        visibility: hidden;
        height: 0;
      }
    }

  }

  .center-content {
    grid-area: main;
    text-align: center;
    min-height: 470px;

    // Information ww
    #ww-help {
      background: $otherbgcolor;
      padding: 0.5rem 2rem;
      margin-bottom: 1rem;
      text-align: center;
      display: inline-block;

      .ww-link {
        cursor: pointer;
        font-weight: bold;
      }
    }

    // Compteur avant le début
    #ww-begin-countdown {
      display: none;
      font-weight: 100;
      font-size: 65px;
      color: $maincolor;
      text-align: center;
    }

    // Timer
    #ww-circular-countdown {
      display: none;
      padding-bottom: 4rem;
    }

    // Message de fin
    #ww-end:not(.displayed) {
      display: none;
    }
  }

  .bottom-action {
    grid-area: bottom;

    #ww-participants {
      background: $otherbgcolor;
      padding: 0.5rem 2rem;
    }

    .buttons {
      @media (max-width: 1050px) {
        display: block;
        text-align: center;
      }
    }

    .button-ww-return {
      margin: 1rem 2.5rem;
    }
  }
}

/* Countdown */
.circular-countdown-container {
  position: relative;
  top: 1rem;
  width: 19rem;
  margin: 0 auto;
  display: none;

  .circle svg {
    @media (max-width: 1050px) {
      width: 13rem;
    }
  }

  .controlls {
    position: absolute;
    left: 5rem;
    top: 9rem;
    text-align: center;

    @media (max-width: 1050px) {
      left: 6rem;
      top: 7rem;
    }
  }

  .display-remain-time {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 4rem;
    color: $maincolor;
    @media (max-width: 1050px) {
      font-size: 3rem;
    }
  }

  .e-c-base {
    fill: none;
    stroke: #B6B6B6;
    stroke-width: 4px
  }

  .e-c-progress {
    fill: none;
    stroke: $maincolor;
    stroke-width: 6px;
    transition: stroke-dashoffset 0.7s;
  }

  .e-c-pointer {
    fill: #FFF;
    stroke: $maincolor;
    stroke-width: 2px;
  }

  #e-pointer {
    transition: transform 0.7s;
  }
}